.contact__list {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.contact__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--color-p);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
    color: var(--accent-color);
}

.contact__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__item:not(:first-child) {
    margin-left: 50px;
}

.contact__icon {
    margin-right: 10px;
    fill: currentColor;
}