.hero {
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-1);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/overlay.jpg);
    max-width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.hero__title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--accent-color2);
}